{% extends "layout.html"%}
{{super()}}

{% block content %}
   {% if error%}
   <p style="color:red">{{ error }}</p>
   {% endif %}
   {% if success%}
   <p style="color:green">{{ success }}</p>
   {% endif %}
       <div class="card align-middle" style="width:600px;margin:auto;vertical-align: middle">
          <div class="card-body">
          <form action = "changePassword" method = "POST" class="form-group form-signin">
            <p class="h3 text-center">Change password</p> 
             Enter your <span style="color:blue">current</span> password <input type = "password" name = "password" class="form-control" placeholder="Current password" required autofocus/><br/>
             Re-enter your <span style="color:blue">current</span> password <input type = "password" name = "confirm_password" class="form-control" placeholder="Current password" required/><br/>
             Enter your <span style="color:green">new</span> password <input type = "password" name = "new_password" class="form-control" placeholder="New Password" required/>
             <small class="form-text text-muted">Password must be atleast 4 characters long</small>
             <br/>
             Re-enter your <span style="color:green">new</span> password <input type = "password" name = "confirm_new_password" class="form-control" placeholder="Current Password" required/><br/>
             <br/>
             <p class="text-center"><input type = "submit" value = "Change password" class="btn btn-primary"/>
                <a class="btn btn-danger" href="/" role="button">Cancel</a>
             </p>
          </form>
          </div>
      </div>
{% endblock %}
