{% extends "layout.html"%}
{% block scripts%}
{{super()}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $(document).on('click', '#remove_file', function () {
      $(this).closest('div').remove()
    });
  });

  $(document).ready(function () {
    $(document).on('click', '#more_files', function () {
      var $clone = $('<div class="div_file form-group form-inline btn col"></div>');
      $clone.append('<input type="file" name="files[]" class="form-control btn btn-outline-secondary" multiple>');
      $clone.append(" <a href=# id='remove_file' style='color:red'><img src=\"{{url_for('.static', filename='remove.png')}}\" alt='Remove files' style='width:20px;''></a><br/>");
      $clone.insertBefore('form p:last');
    });
  });
</script>
{% endblock %}

{% block content %}
{% if success%}
<p style="color:green"> {{ success }}</p>
{% endif %}
{% if error %}
<p style="color:red"> {{ error }}</p>
{% endif %}
<br />
<div class='container'>
  <div class="row ">
    <div class="col card-body">
      <p class="text-center">
      <h3>Data Console</h3>
      </p>
    </div>
  </div>
  <div class='row'>
    <div class="col card text-center">
      <div class="card-body">
        <div style="display: flex; justify-content: space-between;">
          <a style="width: 100%" data-toggle="collapse" href="#annotations-table" role="button" aria-expanded="false"
            aria-controls="annotations-table">
            <h3>Annotations</h3>
          </a>
          <form action="/annotations_download" method="POST" enctype=multipart/form-data class="form-group">
            <!-- <input type="submit" class="btn btn-primary"></input> -->
            <button type="submit" value="Submit" class="btn btn-primary">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z" />
              </svg>
            </button>
          </form>
        </div>
        {% if annotations %}
        <div class="collapse" id="annotations-table">
          <table class="table table-striped">
            <thead>
              <tr>
                {% for header in annotations[0] %}
                <th>{{header}}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for record in annotations %}
              <tr>
                {% for key in record %}
                <td>{{record[key]}}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% else %}
        No annotations available yet.
        {% endif %}
      </div>
    </div>
  </div>
  <br>
  <div class='row'>
    <div class="col card text-center">
      <div class="card-body">
        <div style="display: flex; justify-content: space-between;">
          <a style="width: 100%" data-toggle="collapse" href="#data-table" role="button" aria-expanded="false"
            aria-controls="data-table">
            <h3>Data
            </h3>
          </a>
          <form action="/data_download" method="POST" enctype=multipart/form-data class="form-group">
            <!-- <input type="submit" class="btn btn-primary"></input> -->
            <button type="submit" value="Submit" class="btn btn-primary">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z" />
              </svg>
            </button>
          </form>
        </div>
        {% if data %}
        <div class="collapse" id="data-table">
          <table class="table table-striped">
            <thead>
              <tr>
                {% for header in data[0] %}
                <th>{{header}}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for record in data %}
              <tr>
                {% for key in record %}
                <td>{{record[key]}}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% else %}
        No data available yet.
        {% endif %}
      </div>
    </div>
  </div>
  <br />
  <div class='row'>
    <div class="col card text-center">
      <div class="card-body">
        <h3>Export everything as xlsx</h3>
        <form action="/all_download" method="POST" enctype=multipart/form-data class="form-group">
          <!-- <input type="submit" class="btn btn-primary"></input> -->
          <button type="submit" value="Submit" class="btn btn-primary">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-arrow-down-circle" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z" />
            </svg>

          </button>
        </form>
      </div>
    </div>
  </div>
  <br />
</div>
{% endblock %}