{% extends "layout.html"%}
{% block scripts%}
{{super()}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
    $(document).on('click', '#remove_file', function () {
      $(this).closest('div').remove()
    });
  });

  $(document).ready(function () {
    $(document).on('click', '#more_files', function () {
      var $clone = $('<div class="div_file form-group form-inline btn col"></div>');
      $clone.append('<input type="file" name="files[]" class="form-control btn btn-outline-secondary" multiple>');
      $clone.append(" <a href=# id='remove_file' style='color:red'><img src=\"{{url_for('.static', filename='remove.png')}}\" alt='Remove files' style='width:20px;''></a><br/>");
      $clone.insertBefore('form p:last');
    });
  });
</script>
{% endblock %}

{% block content %}
{% if success%}
<p style="color:green"> {{ success }}</p>
{% endif %}
{% if error %}
<p style="color:red"> {{ error }}</p>
{% endif %}
<br />
<div class='container'>
  <div class="row ">
    <div class="col card-body">
      <p class="h2 text-center">Data console</h3>
    </div>
  </div>
  <div class='row'>
    <div class="col card text-center">
      <div class="card-body">
        <h3>Upload files</h3>
        <form action="/upload_file" method="POST" enctype=multipart/form-data class="form-group">

          <div class="div_file form-group form-inline btn col">
            <input type="file" name="files[]" class="form-control btn btn-outline-info" multiple>
          </div>

          <p></p>
          <a href="#" id='more_files'>Click to add more files</a>
          After uploading multiple files, click Submit.<br>
          <input type="submit" value="Submit" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>
  <br />
  <div class='row'>
    <div class="col card text-center">
      <div class="card-body">
        <h3>Upload folder</h3>
        <form action="/upload_folder" method="POST" enctype=multipart/form-data class="form-group">

          <div class="div_file form-group form-inline btn">
            <input type="file" name="folder" class="form-control btn btn-outline-info" webkitdirectory mozdirectory>
          </div>
          <br>
          <input type="submit" value="Submit" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>
  <br />
  <div class='row'>
    <div class="col card text-center">
      <div class="card-body">
        <h3>Download data</h3>
        <form action="/data_download" method="POST" enctype=multipart/form-data class="form-group">
          <input type="submit" value="Download data" class="btn btn-primary">
        </form>
      </div>
    </div>
  </div>
  <br />
</div>
{% endblock %}