{% extends "layout.html"%}
{{super()}}

{% block content %}
{% if success%}
<p style="color:green"> {{ success }} by {{user}}</p>
{% endif %}
{% if error %}
<p style="color:red"> {{ error }}</p>
{% endif %}

<div class="card align-middle" style="width:600px;margin:auto;vertical-align: middle">
    <div class="card-body">
        <form action="/options" method="post" class="form-group form-signin">
            <p class="h2 text-center"> Configurations</p>
            Maximum annotations per instance: <input type="text" name="max_annotations" class="form-control" placeholder="{{ max_annotations }}" 
            autofocus /><br />
            
            <p class="text-center"><input type="submit" value="Update options" class="btn btn-danger" /></p>
        </form>
    </div>
</div>
{% endblock %}
