{% extends "layout.html"%}
{{super()}}

{% block content %}
{% if success%}
<p style="color:green"> {{ success }} by {{user}}</p>
{% endif %}
{% if error %}
<p style="color:red"> {{ error }}</p>
{% endif %}
<div class="row ">
    <div class="col card-body">
        <p class="h2 text-center">Profile</h3>
    </div>
</div>
<div class="card align-middle" style="width:600px;margin:auto;vertical-align: middle">
    <div class="card-body">
        <b>Username :</b> {{ username }}<br />
        <b>Full name :</b> {{ fname }} {{ lname }}<br />
        <b>Email :</b> {{ email }}<br />
        <b>Account type :</b> {{ user_type }}<br />
        <b>Annotations performed overall:</b> {{ annotation_amount }}<br />
        <b>Annotations performed last week:</b> {{ last_week_annos }}<br />
        <b>Annotations performed last 24h:</b> {{ last24_annos }}
        <br />
        <a href="api/changePassword">Click here to change password</a>
    </div>
</div>
<div class='row'>
    <div class="col card text-center">
        <div class="card-body">
            <div style="display: flex; justify-content: space-between;">
                <a style="width: 100%" data-toggle="collapse" href="#annotations-table" role="button"
                    aria-expanded="false" aria-controls="annotations-table">
                    <h3>Annotations</h3>
                </a>
            </div>
            {% if user_annotations %}
            <div class="collapse" id="annotations-table">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-trash-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                </svg>
                            </th>
                            <th><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    <path
                                        d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z" />
                                </svg></th>
                            {% for header in user_annotations[0] %}
                            {% if header != "user_id" %}
                            <th>{{header}}</th>
                            {% endif %}
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for record in user_annotations %}
                        <tr>
                            <td><button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#removeModal" data-id="{{record['id']}}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-trash-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                    </svg>
                                </button></td>
                            <td><button type="button" class="btn btn-primary" data-toggle="modal"
                                    data-target="#commentModal" data-id="{{record['id']}}"><svg
                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-exclamation-circle" viewBox="0 0 16 16">
                                        <path
                                            d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                        <path
                                            d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z" />
                                    </svg></button></td>
                            {% for key in record %}
                            {% if key != "user_id" %}
                            <td>{{record[key]}}</td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            No annotations available yet.
            {% endif %}
        </div>
    </div>
</div>

<!-- Comment Modal -->
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="commentModalLabel">Comment annotation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="comment-form" action="/api/commentAnnotation" method="POST">
                    <input type="hidden" class="form-control" id="id" name="id">
                    <input type="text" class="form-control" id="comment" name="comment">
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" form="comment-form" value="Submit" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Remove Modal -->
<div class="modal fade" id="removeModal" tabindex="-1" role="dialog" aria-labelledby="removeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removeModalLabel">Remove annotation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="modal-text"></div>
                <form id="remove-form" action="/api/removeAnnotation" method="POST">
                    <input type="hidden" class="form-control" id="id" name="id">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" form="remove-form" value="Submit" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script>
    $('#commentModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var id = button.data('id') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('.modal-title').text('Add comment for Annotation #' + id)
        modal.find('#id').val(id)
    })
    $('#removeModal').on('show.bs.modal', function (event) {
        var button = $(event.relatedTarget) // Button that triggered the modal
        var id = button.data('id') // Extract info from data-* attributes
        // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
        // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
        var modal = $(this)
        modal.find('#modal-text').text('Do you really want to remove Annotation #' + id + "? This can NOT be undone!")
        modal.find('#id').val(id)
    })

</script>
{% endblock %}